table, tbody, tr {
    border: 1px solid black;
  border-collapse: collapse;
  table-layout:fixed;
}

.seccond{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  padding: 10px;
}

body {
  font-size: 10px;
}

/* td {
  width: 200px;
  height: 375px;
  overflow: hidden;
} */


.napomena{
  height: 300px; 
  overflow:hidden;
}

@page {
	margin: 6%;
}